/* @media screen and (max-width:870px){

    .cardContainer{
        /* flex-direction: column; */
    /* } */

    /* .cardBody{ */
        /* width: 90%; */

      /* } */
/* } */ 

@media screen and (max-width:1100px){
    .cardBody{
        width: 45%;
      }
}

@media screen and (max-width:700px){
    .cardBody{
        width: 100%;
      }
}

@media screen and (min-width: 912px){
    /* body{
        background-color: bisque;
    } */
    .popupDiv{
        width: 50%;
        left: 26%;
    }

   
}