@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather&family=Pacifico&family=Playfair+Display:wght@500&family=Ysabeau+Infant&display=swap");

:root {
  --background: rgb(28, 28, 28);
  --text: rgb(242, 228, 228);
  --orange: rgb(241, 150, 47);
  --darkRed: rgb(164, 27, 27);
  --lightRed: rgb(245, 32, 32);
}

@keyframes slope{
  0%{
      opacity: 0;
  }
  25%{
      opacity: 2.5;
  }
  50%{
      opacity: 4.5;
  }
  75%{
      opacity: 6.5;
  }
  100%{
      opacity: 10;
  }
}

.show{
  display: block;
}

.hide{
  display: none;
}

.back{
  font-size: 2vw;
}

.showCardAdd{
  font-size: 2vw;
}

body {
  background-color: var(--background);
  background-size: cover;
}

html {
  cursor: context-menu;
  font-family: "Ysabeau Infant", sans-serif;
  animation-name: slope;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(10px);
}

.centerImg{
  display: flex;
  position: fixed;
  top: 30vh;
  left: 17vw;
  width: 70vw;
  mix-blend-mode: lighten;
  z-index: -1;
}

.blurBackground {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.logo {
  color: var(--text);
  font-size: 3vw;
  font-family: "Pacifico", cursive;
  margin: 0px auto;
  padding: 0vw 1vw;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.141);
  position: sticky;
  top: 0px;
  z-index: 6;
}

.List {
  font-size: 2.8vw;
  color: var(--text);
}
.logo::first-letter{
  color: var(--orange);
  font-size: 4vw;
}

.addItem {
  color: var(--orange);
  float: right;
  padding: 1vw;
  font-size: 2.2vw;
  border: 1px solid transparent; 
  width: 11vw;
  text-align: center;
  transition: all 0.2s linear;
}

.addItem:hover{
  border: 1px solid var(--orange); 
  color: var(--text);
}

.popupDiv {
  padding: 1vw;  
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.11);
  text-align: center;
  width: 40%;
  position: fixed;
  left: 31%;
  top: 20%;
  z-index: 4;
}

.cardImage{
  margin: auto;
  width: 40%; 
}

.input{
  width: 93%;
  text-align: center;
  padding: 1vh;
  margin-top: 10px;
  font-size: 2vw;
}

.input:focus{
  outline-color: var(--orange);
}

.add{
  border: 1px solid transparent;
  width: 93%; 
  margin: 5px auto;
  background: var(--orange);
  padding: 0.5vw;
  color: white;
  transition: all 0.1s linear;
  font-size: 2vw;
}

.add:hover{
  background-color: transparent;
  border-color: var(--orange);
  color: var(--orange);
}

.close{
  transition: all 0.1s linear;
  border: 1px solid transparent;
  width: 93%; 
  margin: 5px auto;
  background: var(--darkRed);
  padding: 0.5vw;
  color: white;
  font-size: 2vw;
}

.close:hover{
  background-color: transparent;
  border-color: var(--lightRed);
  color: var(--lightRed);
}

.popupHeading {
  color: var(--text);
  font-size: 3vw;
  margin: 1vh auto;
}

.cardContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin-inline: auto;
}

.cardBody{
  min-width: 31%;
  min-height: 31vw;
  text-align: center;
  box-shadow: 0px 10px 20px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: var(--background);
}

.cardBody2{
  position: fixed;
  top: 25vh;
  left: 28vw;
  min-width: 45%;
  min-height: 31vw;
  text-align: center;
  box-shadow: 0px 10px 20px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: var(--background);
}

.cardBody:hover{
  transform: translate(0px,-5px);
  box-shadow: 0px 15px 30px rgb(0, 0, 0);
}

.cardTitle {
  text-align: center;
  backdrop-filter: blur(10px);
  padding:15px 0px;
  font-size: 2.5vw;
  margin: 0px auto;
  color: var(--text);
}

.cardInnerDiv {
  min-height: 23vw;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.058);
  margin:0px  auto;
}

.cardDuttonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vw auto;
  font-size: 2vw;
}

.cardDeleteButton {
  width: 45%;
  outline: none;
  border: 1px solid var(--darkRed);
  background-color: var(--darkRed);
  color:var(--text);
  padding: 1vw 0vw;
  transition: all 0.1s linear;
  border-radius: 0.5vw;
}

.cardDeleteButton:hover{
  background-color: transparent;
  color: var(--lightRed);
}

.cardAddButton {
  width: 45%;
  border-radius: 0.5vw;
  outline: none;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color:var(--text);
  padding: 1vw 0vw;
  transition: all 0.1s linear;
}

.cardAddButton:hover{
  background-color: transparent;
  border-color: var(--orange);
  color: var(--orange);
}

.popup2blur{
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0vw;
  left: 0vw;
  z-index: 8;
}

.popup2Div{
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.089);
  text-align: center;
  width: 45%;
  padding: 5px; 
  position: fixed;
  left: 30%;
  top: 30%;
  box-shadow: 0px 10px 20px rgb(22, 22, 22);
}


.popup2Title {
  text-align: center;
  color: orange;
  font-size: 3.4vw;
  border-bottom: 1px solid white;
}

.secondPopupImg{
  width: 40%;
}

.popup2Input {
  width: 90%;
  padding:5px;
  font-size: 2vw;
  outline:none;
  text-align: center;
  border-radius: 5px;
}

.popup2Input:focus{
  border:2px solid var(--orange);
}

.popup2ButtonDiv {
  display: flex;
  margin: 1vh auto;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2vw;
}

.popup2AddButton {
  width: 45%;
  border: 1px solid var(--orange);
  padding: 8px 0px;
  background: var(--orange);
  transition: all 0.3s ease-in-out;
  color: var(--text);
}

.popup2AddButton:hover{
  background-color: transparent;
  color: var(--orange);
}

.popup2DeleteButton {
  width: 45%;
  border: 1px solid var(--darkRed);
  padding: 0.8vh 0px;
  background: var(--darkRed);
  transition: all 0.1s linear;
  color: var(--text);
}

.popup2DeleteButton:hover{
  background-color: transparent;
  color: var(--lightRed);
  border-color: var(--lightRed);
}

.innerDivText{
  background-color: aqua;
  border: 1px solid white;
}

.addTaskListItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  padding: 0.5vw;
  border-right: none;
  border-left: none;
  padding: 0.5vw 0px; 
  color: var(--text);
}

.TaskListp{
  background: rgba(255, 255, 255, 0.037);
  backdrop-filter: blur(10px);
  width: 88%;
  padding: 0.5vw 0px; 
  margin: 0px auto; 
}

.TaskListpCancel{
  padding: 0.5vw 0px; 
  background: rgba(255, 255, 255, 0.037);
  backdrop-filter: blur(10px);
  width: 12%; 
  color: rgba(255, 0, 0, 0.885);
  margin: 0px auto; 
}

.showCard{
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  backdrop-filter: blur(5px);
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
}

.showcardInnerDiv{
  position: absolute;
  top: 15vh; 
 color: white;
 display: flex;
 width: 100vw;
 justify-content: space-evenly;
 align-items: center;
 font-size: 3vw;
}

.backImg{
  width: 50px;
}